<html>
    <wicket:panel>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" wicket:id="home">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </wicket:panel>

</html>